<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /foodcourt/

    # Agar file ya directory exist nahi karti to request index.php pe bhej do
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>
