* {
            margin: 0px;
            border: border-box;
            padding: 0px;
        }

        .a {
            height: 650px;
            width: 100%;
            /* background-image: url('x9.jpg');
            background-size: 100% 100%;
            animation-name: ram;
            animation-duration: 60s;
            animation-iteration-count: infinite;
            background-attachment: fixed; */
        }

        /* @keyframes ram {

            0% {
                background-image: url('samrit2.jpeg');
                background-size:100% 100%;
            }

            10% {
                background-image: url('samrit9.jpeg');
                background-size:100% 100%;
            }

            20% {
                background-image: url('samrit5.jpeg');
                background-size:100% 100%;
            }

            40% {
                background-image: url('samrit3.jpeg');
                background-size:100% 100%;
            }

            60% {
                background-image: url('samrit8.jpeg');
                background-size:100% 100%;
            }

            80% {
                background-image: url('samrit7.jpg');
                background-size:100% 100%;
            }

            100% {
                background-image: url('samrit1.jpg');
                background-size:100% 100%;
            }
        } */

        /* .b {
            height: 550px;
            width: 100%;
            background-color: rgba(0, 0, 0, .8);
        } */

        .navbar {
            height: 55px;
            width: 100%;

            background-color: rgba(0, 0, 0, .9);
        }
        /* .x45{
            height: 55px;
            width: 100%;
            background-color:black;
        } */
        .e {
            height: 50px;
            width: 150px;
            /* background-color:red; */
            float: right;
            /* margin-left: 1px; */
            color: white;
            text-align: center;
        }
        /* .e48{
            height: 50px;
            width: 90px;
            background-color:red;
            float: right;
            margin-left: 1px;
            color: white;
            text-align: center;
        } */
        .e88{
            height: 50px;
            width: 120px;
            /* background-color:red; */
            float: right;
            margin-left: 8%;
            color: white;
            text-align: center;
        }

        p {
            margin-top: 14px;
        }

        .d {
            color: white;
            text-decoration: none;
            transition:all ease 0s;
        }

        .d:hover {
            transition: all ease 0s;
            text-decoration:2px underline aqua;
           
        }

        body {
            background-color:rgb(66, 63, 63);
        }

        .f{
            height:300px;
            width:23%;
            position: relative;
               border-radius: 10px;
               overflow:hidden;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            *//*margin:8px;*/
            /* background-image: url('z20.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation:mona 3s linear 1;
            /* position: relative; */
            /* animation-duration:5s;
            animation-iteration-count: 1; */
            transition:all ease 0s;
        }
        .f:hover img{
            transition:all ease 1s;
            transform:scale(1.2);
           
        }
        @keyframes mona{
            0%{
                transform:translatey(100%);
            }
            /* 25%{
                bottom:0px;
                top:200px;
                transform:scale(0.7);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            } */
        }
        /* .f:hover .overlay {
  opacity: 5;
} */
        .f1{
            height:300px;
            width:23%;
            position: relative;
               border-radius: 10px;
               overflow:hidden;
        
          margin:8px;
           
            box-sizing:border-box;
            animation:sita 4s linear 1;
           
            transition:all ease s;
        }
        .f1:hover img{
            transition:all ease 1s;
            transform:scale(1.2);
            /* box-shadow:0px 0px 10px black; */
        }
        @keyframes sita{
            0%{
                transform:translatey(100%);
            }
            /* 25%{
                bottom:0px;
                top:200px;
                transform:scale(0.6);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            } */
        }
        /* .f1:hover .overlay {
  opacity: 5;
} */
        .f2{
            height:300px;
            width:23%;
               border-radius: 10px;
            /* background-color:aqua; */
            position:relative;
            overflow:hidden;
           
           
            margin:8px;
            /* background-image: url('z22.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation:ram1 5s linear 1;
            /* position: relative; */
            /* animation-duration:7s;
            animation-iteration-count: 1; */
            transition:all ease 0s;
        }
        .f2:hover img{
            transition:all ease 1s;
            transform:scale(1.2);
            /* box-shadow:0px 0px 10px black; */
        }
        @keyframes ram1{
            0%{
                transform:translatey(100%);
            }
           /* 100%{
                transform:translatey(-50%);
            } */
           
            /* 50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            } */
        }
        .f2:hover .overlay {
  opacity: 5;
}
        .f3{
            height:300px;
            width:23%;
               border-radius: 10px;
               position:relative;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            */margin:8px;
            /* background-image: url('z23.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation-name:ram2;
            /* position: relative; */
            animation-duration:5s;
            animation-iteration-count: 1;
        }
        @keyframes ram2{
            0%{
                bottom:0px;
                top:0px;
            }
            25%{
                bottom:0px;
                top:200px;
                transform:scale(0.5);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            }
        }
     
        .f3:hover .overlay {
  opacity: 5;
}
       
       
    .f4{
            height:300px;
            width:23%;
               border-radius: 10px;
               position:relative;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            */margin:8px;
            /* background-image: url('z23.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation-name:ram3;
            /* position: relative; */
            animation-duration:6s;
            animation-iteration-count: 1;
        }
        @keyframes ram3{
            0%{
                bottom:0px;
                top:0px;
            }
            25%{
                bottom:0px;
                top:200px;
                transform:scale(0.4);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            }
        }
     
        .f4:hover .overlay {
  opacity: 5;
}

       
        .f5{
            height:300px;
            width:23%;
               border-radius: 10px;
               position:relative;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            */margin:8px;
            /* background-image: url('z23.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation-name:ram4;
            /* position: relative; */
            animation-duration:7s;
            animation-iteration-count: 1;
        }
        @keyframes ram4{
            0%{
                bottom:0px;
                top:0px;
            }
            25%{
                bottom:0px;
                top:200px;
                transform:scale(0.3);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            }
        }
     
        .f5:hover .overlay {
  opacity: 5;
}


        .f6{
            height:300px;
            width:23%;
               border-radius: 10px;
               position:relative;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            */margin:8px;
            /* background-image: url('z23.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation-name:ram5;
            /* position: relative; */
            animation-duration:8s;
            animation-iteration-count: 1;
        }
        @keyframes ram5{
            0%{
                bottom:0px;
                top:0px;
            }
            25%{
                bottom:0px;
                top:200px;
                transform:scale(0.2);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            }
        }
     
        .f6:hover .overlay {
  opacity: 5;
}



        .f7{
            height:300px;
            width:23%;
               border-radius: 10px;
               position:relative;
            /* background-color:aqua; */
            /* border:1px solid black; */
            /* background-image: url('z29.jpg');
            
            background-size:100% 100%; */
            /* float:left; */
            /* margin-top:10px;
            margin-left:1%;
            */margin:8px;
            /* background-image: url('z23.jpg');
            background-size: 100% 100%; */
            box-sizing:border-box;
            animation-name:ram6;
            /* position: relative; */
            animation-duration:9s;
            animation-iteration-count: 1;
        }
        @keyframes ram6{
            0%{
                bottom:0px;
                top:0px;
            }
            25%{
                bottom:0px;
                top:200px;
                transform:scale(0.1);
            }
            50%{
                bottom:0px;
                top:0px;
            }
            75%{
                bottom:0px;
                top:0px;
            }
        100%{
                bottom:0px;
                top:0px;
            }
        }
     
        .f7:hover .overlay {
  opacity: 5;
}


       
        @media screen and (max-width:1200px) {
            .f{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f{
                width:90%;

            }
        }



       
        @media screen and (max-width:1200px) {
            .f1{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f1{
                width:90%;

            }
        }

        


        @media screen and (max-width:1200px) {
            .f2{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f2{
                width:90%;
                border-radius: 10px;

            }
        }

       


        @media screen and (max-width:1200px) {
            .f3{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f3{
                width:90%;

            }
        }



        @media screen and (max-width:1200px) {
            .f4{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f4{
                width:90%;

            }
        }



        @media screen and (max-width:1200px) {
            .f5{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f5{
                width:90%;

            }
        }

        

        @media screen and (max-width:1200px) {
            .f6{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f6{
                width:90%;

            }
        }




        @media screen and (max-width:1200px) {
            .f7{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .f7{
                width:90%;

            }
        }




        .g {
            padding-left: 35%;
            padding-top: 10%;
            font-size: 35px;
            line-height:30px;
            animation-name: shubham;
            animation-duration: 5s;
            position: relative;
            animation-delay: -2s;
            animation-iteration-count: 1;
            text-shadow: 3px 3px 0px red;
            color: white;

        }

        @keyframes shubham {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: -600px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }
.h99{
    /* padding-left: 35%; */
            /* padding-top:15%; */
            padding-left: 38%;
            font-size: 20px;
            line-height:20px;
            color: greenyellow;
            text-shadow: 1px 1px 0px yellow;
            animation-name: ramu;
            animation-duration: 6.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
}
        .h {
            padding-left: 44%;
            /* padding-top:15%; */
            font-size: 25px;
            line-height:30px;
            color: aqua;
            text-shadow: 2px 2px 0px white;
            animation-name: ramu;
            animation-duration: 6.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
        }

        @keyframes ramu {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: -600px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }

        /* .i {
            text-align: inherit;
            line-height: 20px;
            padding-left: 8px;
            padding-right: 8px;

        }

        .i:hover {
            transition: all ease 1s;
        } */

        .j {
            padding-left: 37%;
            /* padding-top:15%; */
            color: white;
            line-height: 20px;
            text-align: justify;
            animation-name: shiva;
            animation-duration: 7.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
        }

        @keyframes shiva {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: -600px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }

        .l {
            height: 270px;
            width: 100%;
            margin-top: 15px;
            /* background-color: red; */
        }

        .b20{
            height:100%;
            width:100%;
            padding-top:1%;
            /* float: left; */
            /* line-height:300px; */
            /* background-color:blue; */
            display:flex;
            flex-direction: row;
            /* overflow:scroll; */
            justify-content: space-around;
            flex-flow: wrap;

        }
        .b21{
            height:100%;
            width:100%;
            margin-top:0px;
          /* float:left; */
            display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;
        }
       
        .i57{
            font-size:23px;
            color:greenyellow;
            padding-top:1%;
            /* background-color: red; */
            line-height:30px;
            text-shadow:2px 1px 0px black;
padding-left:10%;
padding-right:10%;
        }
        /* .g58{
            font-size:23px;
            color:white;
            line-height:40px;
text-align:center;
        } */

        .u {
            font-size: 17px;
            padding-left: 5px;
            padding-right: 5px;
        }

        .v {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z21.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .w {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow:102px102px51pxe; */
            background-image: url('z27.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .x {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('m6.png');
            background-size: 100% 100%;
            float: left;
        }

        .y {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow:102px102px51pxe; */
            background-image: url('z16.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .z {
            height: 230px;
            width: 180px;
            background-color: white;
            margin-left: 19px;
            margin-top: 10px;
            border-radius: 10px;
            float: left;
            /* box-shadow: 10px 10px 5px ; */
        }

        .a1 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z31.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a2 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z18.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a3 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z17.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a4 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z19.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a5 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z32.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a6 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z25.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a7 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z22.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a8 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z33.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a9 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z23.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a10 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z35.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a11 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z26.jpg');
            background-size: 100% 100%;
            float: left;
        }

        .a12 {
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z34.jpg');
            background-size: 100% 100%;
            float: left;
            transition:all ease 0s;
        }
    
        .m56 {
            color: white;
            text-decoration: none;
            margin-top: 9px;
            font-size:16px;
            border:none;
            transition:all ease 0s;

        }

        .m56:hover {
            transition: all ease 0s;
            /* border:none; */
            text-decoration:2px  underline aqua;
        }
        .b67 {
            color:white;
            padding:0px 10px 10px;
            transition: all ease 0.5s;
           
           
        }

        .b67:hover {
            transition: all ease 0.5s;
            transform: scale(0.9);
            color: red;
        }
        .x90{
            height:180px;
            width:100%;
            /* background-color:red; */
            margin-top:13%; 
        }
        .a20{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z2.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a21{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z3.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a22{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z4.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a23{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z5.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a24{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z6.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a25{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z7.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a26{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z8.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a27{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z9.jpg');
            background-size: 100% 100%;
            float: left;
        }.a28{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z14.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a29{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z10.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a30{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z12.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .a31{
            height: 250px;
            width: 280px;
            background-color: white;
            margin-top: 10px;
            margin-left: 19px;
            border-radius: 10px;
            /* box-shadow: 10px 10px 5px ; */
            background-image: url('z13.jpg');
            background-size: 100% 100%;
            float: left;
        }
        .l89{
            text-align: center;
            font-size:60px;
            text-shadow: 3px 3px 5px red;
            color: greenyellow;
            animation-name: shubham;
            line-height: 50px;
            animation-duration: 5s;
            position: relative;
            animation-delay: -2s;
            animation-iteration-count: 1;
        }
        @keyframes shubham {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: -1150px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }
        .l90{
            text-align: center;
            font-size:60px;
            text-shadow: 3px 3px 5px red;
            color: greenyellow;
            animation-name: ramu;
            animation-duration: 6.5s;
            position: relative;
            line-height: 60px;
            animation-delay: -1s;
            animation-iteration-count: 1;
        }
        @keyframes ramu {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: -1150px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }
        .j70{
            color:red;
            float:left;
        }
        .v92{
            font-size:24px;
            color:yellow;
            margin-top:5px;
            margin-left:3px;
            
        }
        .v93{
            font-size:30px;
            color:yellow;
            margin-left:40%;
            /* margin-top:25%; */
            animation-name: shiva;
            animation-duration: 7.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
            transition:all ease 0s;
        }
        .v93:hover{
            transition:all ease 0s;
            color:red;
        }
        .v94{
            font-size:31px;
            color:yellow;
            margin-left:1%;
            margin-top:10px;
            animation-name: shiva;
            animation-duration: 7.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
            transition:all ease 0s;
        }
        .v94:hover{
            transition:all ease 0s;
            color:blue;
        }
        .v95{
            font-size:31px;
            color:yellow;
            margin-left:1%;
            margin-top:10px;   
            animation-name: shiva;
            animation-duration: 7.5s;
            position: relative;
            animation-delay: -1s;
            animation-iteration-count: 1;
            transition:all ease 0s;
        }
        .v95:hover{
            transition:all ease 0s;
            color:green;
        }
        @keyframes shiva {
            0% {
                left: 0px;
                top: 0px;
            }

            25% {
                left: -800px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: 0px;
            }

            75% {
                left: 0px;
                top: 0px;
            }

            100% {
                left: 0px;
                top: 0px;
            }
        }
        .j67{
            color:white;
            float:left;
        }
        .j68{
            color:yellowgreen;
            float:left;
        }
        .j69{
            color:aqua;
            float:left;

        }
        /* .d20{
            height:500px;
            width:100%;
            margin-top:25px;
            background-color:red;
        } */
        /* .j90{
            margin-left:1%;
        } */
        .j51{
            color:white;
            text-decoration: none;
            padding:15px 0px 30px 0px;
            font-size:15.4px;
            padding-right:10px;
            transition:0.5s;
           /* font-style: oblique; */
        }
        .j51::after{
            content: "";
            width:0px;
            height:2.5px;
            background-color:aqua;
            transition:0.5s;
            display:block;
          
        }
        .j51:hover::after{
            /* transition: all ease 0s; */
            width:100%;
          
            /* border:none; */
            /* text-decoration:2px  underline aqua; */
        }
        .j51:hover{
            color:aqua;
            transition:0.5s;
        }
       .j62{
        height:40px;
        width:150px;
        background-color:black;
        color:white;
        border:none;
       }
       /* .u45{
        margin-left:0px;
       } */
       .u46{
        margin-left: 0px;
       }
     /* .overlay{
      position: absolute; 
  bottom: 10px;  */
  /* background: rgb(0, 0, 0); */
  /* background: rgba(0, 0, 0, 0.0); Black see-through */
  /* color: #f1f1f1;  */
  /* width: 100%;
  transition: .5s ease;
  opacity:0;
  color:white;
 text-shadow:1px 2px 2px black;
  font-size: 18px;
  border-radius:10px;
 padding:5px; */
 /* padding:10px; */
 
     /* } */
   
   
     /* .image {
  display: block;
  width: 100%;
  height: auto;
} */
.container{
    /* height:100px;
    width:100%; */
  /* background-color:red; */
   /* margin-top:13%;*/
    /* margin-left:3%; */
    /* text-align: center; 
    background-image:linear-gradient(50deg,#FF33E0,#00FF00);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;*/
    /* text-shadow: 3px 4px 0px red; */
            /* color: white; 
          
            animation: shubham 1.5s linear 1;*/
            /* display:inline-block; */
            /* animation-duration: 5s;
            position: relative;
            animation-delay: -2s;
            animation-iteration-count: 1; */

}
.r71{
    /* margin-top:13%; */
    /* margin-left:3%; */
    /* text-align: center; */
    background-image:linear-gradient(to bottom,yellow,#00FF00);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 3px 4px 0px red; */
            /* color: white; */
          
            animation: walk 2s linear 1;
}


nav{
   height:55px;
   }

    /* 25%{
       top:0px;

    }
    50%{
       top:400px;

    }
    75%{
       top:0px;

    }
    100%{
       top:0px;

    } */
/* } */

@keyframes walk {
           0% {
                /* left: 0px;
                top: 0px; */
                transform: translate(-400%);
            }
/* 
            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: -800px;
            }

            75% {
                left: 0px;
                top: 0px;
            } */
/* 
            100% {
                left: 0px;
                top: 0px;
            } */
        }
.r72{
    /* margin-top:13%; */
    /* margin-left:3%; */
    /* text-align: center; */
    background-image:linear-gradient(50deg,#FF33E0,red);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /* text-shadow: 3px 4px 0px red; */
            /* color: white; */
          font-size:23px;
            animation: walk2 3s linear 1;
}
@keyframes walk1 {
           0% {
                /* left: 0px;
                top: 0px; */
                transform: translate(-400%);
            }
/* 
            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: -800px;
            }

            75% {
                left: 0px;
                top: 0px;
            } */
/* 
            100% {
                left: 0px;
                top: 0px;
            } */
        }
@keyframes walk2 {
           0% {
                /* left: 0px;
                top: 0px; */
                transform: translate(-400%);
            }
/* 
            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: -800px;
            }

            75% {
                left: 0px;
                top: 0px;
            } */
/* 
            100% {
                left: 0px;
                top: 0px;
            } */
        }
@keyframes shubham {
            0% {
                /* left: 0px;
                top: 0px; */
                transform: translatex(-400%);
            }
/* 
            25% {
                left: 0px;
                top: 0px;
            }

            50% {
                left: 0px;
                top: -800px;
            }

            75% {
                left: 0px;
                top: 0px;
            } */

            /* 100% {
                left: 0px;
                top: 0px;
            } */
        }
.heading{
    font-size:45px;
    color:greenyellow;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   
}
.r67{
    /* color:aqua; */
    /* text-shadow:3px 3px 0px black; */
    background-image:linear-gradient(to top,aqua,yellow);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    animation: walk1 2.5s linear 1;
}
.u78{
    border-radius: 5px;
    height:35px;
    border:none;
    width:220px;
    margin-left:10%;
   
}
.u79{
    border-radius: 5px;
    height:35px;
    color:white;
    background-color:gray;
    border:none;
    font-size:22px;
    display: grid;
}




/* w{
        position:absolute;
        top:65%;
        left:37%;
        color:white;
     
     padding: 1px 80px;
        overflow:hidden;
        font-size:40px;
        text-decoration:none;
        letter-spacing: 2px;
        font-weight: bold;
        box-shadow:0 20px 50px rgb(255 255 255 / 5%);
    }
    w:before{
        position: absolute;
        width:50%;
        top:2px;
        left:2px;
        bottom:2px;
        content:''; */
        /* background:rgb(142 255 240 / 10%); */
    /* }
    w span:nth-child(1){
        position:absolute;
        width:100%;
        height:5px;
        top:0;
        left:0;
        background:linear-gradient(to right, #002b9d,#34ffea);
        animation:kausal 2s linear infinite;
    }
    @keyframes kausal{
        0%{
            transform:translatex(-100%);
        }
        100%{
            transform:translatex(100%);
        }
    } */
    /* w span:nth-child(2){
        position:absolute;
        width:5px;
        height:100%;
        top:0;
        right:0;
        background:linear-gradient(to bottom, #002b9d,#34ffea);
        animation:kausal1 2s linear infinite;
        animation-delay:1s;
    }
    @keyframes kausal1{
        0%{
            transform:translatey(-100%);
            
        }
        100%{
            transform:translatey(100%);

        }
    } */
    /* w span:nth-child(3){
        position:absolute;
        width:100%;
        height:5px;
        bottom:0;
        left:0;
        background:linear-gradient(to left, #002b9d,#34ffea);
        animation:kausal2 2s linear infinite;
        animation-delay:1s;
    }
    @keyframes kausal2{
        0%{
            transform:translatex(100%);
        }
        100%{
            transform:translatex(-100%);
        }
    } */
    /* w span:nth-child(4){
        position:absolute;
        width:5px;
        height:100%;
        top:0;
        left:0;
        background:linear-gradient(to top, #002b9d,#34ffea);
        animation:kausal3 2s linear infinite;
        animation-delay:1s;
    }
    @keyframes kausal3{
        0%{
            transform:translatey(100%);
        }
        100%{
            transform:translatey(-100%);
        }
    } */



.footer{
height:360px;
width:100%;
background-color:black;
margin-top:10px;
display:flex;
            flex-direction: row;
            justify-content: space-around;
            flex-flow: wrap;

}

.footer1{
    height:360px;
    width:33.3%;
    /* margin-top:10px; */
    /* position: relative; */
    background-color:black;
box-sizing:border-box;
/* margin-left:1px; */

float:left;

}

@media screen and (max-width:1200px) {
            .footer1{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .footer1{
                width:90%;

            }
        }

.f85{
   
    margin-top:10%;
    color:white;
 text-align:center;
 font-size:20px;

}

.f87{
   margin-left:35%;
   color:white;
   font-size:17px;
   transition:all ease 1s;
}
.f87:hover{
    transition:all ease 0s;
    transform:scale(1.1);
}

.f39{
    color:aqua;
  margin-left:6%;
  /* margin-top:30px; */
  line-height: 300px;
  font-size:30px;
  transition:all ease 0s;
}
.f39:hover{
    transition:all ease 0s;
    color:yellow;
}
.f40{
 
  color:aqua;
  margin-left:17%;
  /* margin-top:30px; */
  line-height: 300px;
  font-size:30px;
  transition:all ease 0s;
}
.f40:hover{
    transition:all ease 0s;
    color:yellow;
}
.f110{
    text-decoration: none;
   
}
.topper{
    height:130px;
    width:100%;
  
    /*background-image:url('final logo.jpeg');*/
    background-size:100% 100%;
  

}
.b99{
    height:100%;
    width:100%;
    margin:1rem 0 1rem 0;
    float:left;
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;

}
.main{
   
    color:lawngreen;
    font-style: oblique;
    text-shadow:0px 4px 0px black;
    font-family:'Times New Roman', Times, serif;
    
   
}
 .main::after{
    content: "";
            width:0px;
            height:3.5px;
            background-color:aqua;
            transition:0.5s;
            display:block;
        }
        .main:hover::after{
            /* transition: all ease 0s; */
            width:100%;
            cursor:pointer;
            /* border:none; */
            /* text-decoration:2px  underline aqua; */
        }
.maintain{
    text-align:justify;
    font-size:20.5px;
   
text-shadow:0px 4px 2px black;
color:rgb(255, 255, 255); 

    
}
/* .p46{
    background-image:linear-gradient(to top,aqua,red);
    text-transform:uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
} */
.center{
    height:230px;
    width:100%;
    /* background-color:red; */
    margin:100px auto;
    float:left;
    animation:slide1 1s linear 1;
}
.center1{
    height:450px;
    width:50%;
    /* background-color:blue; */
    float:left;
    color:white;
    font-size:20px;
    padding-left:5%;
    padding-top:10%;
   
}
@keyframes slide1{
    0%{
        transform: translatey(-200%);
    }
}
.center3{
    text-align:center;
    padding-top:2%;
    font-size:62px;
    color:#00FF00;
}
.center4{
    text-align:center;
    font-size:18px;
    line-height:40px;
    color:white;
}
.center6{
    color:white;
}
.center2{
    height:400px;
    width:50%;
    /* background-image:url('mas5.png');
    background-size:100% 100%; */
    float:left; 
    animation:slide 1.5s linear 1;
}
@keyframes slide{
    0%{
        transform: translate(-200%);
    }
}
/* @media screen and (max-width:1200px) {
            .center2{
                width:40%;
                
            }
        }
        @media screen and (max-width:600px) {
            .center2{
                width:90%;

            }
        } */
.length{
    height:200px;
    width:300px;
    background-color:black;
}
.j99{
    text-align:center;
    margin-top:5%;
    font-size:90px;
    color:white;
    position:absolute;
    width:100%;
    letter-spacing: 3px;
    font-style: oblique;
    transform: translate(-10px);
}
.j99 span{
        animation:amin 1s linear forwards;
        opacity:0;
        display:inline-block;
        
    }
    @keyframes amin{
        0%{
            opacity: 0;
            transform: rotatey(-90deg);
            filter:blur(10px);
        }
        100%{
            opacity: 1;
            transform: rotatey(0deg);
            filter:blur(0);
        }
    }
    .j99 span:nth-child(1){
        animation-delay: 0.5s;
        color:yellow;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
        
    }
    .j99 span:nth-child(2){
        animation-delay: 1s;
        color:yellow;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .j99 span:nth-child(3){
        animation-delay: 1.5s;
        color:yellow;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .j99 span:nth-child(4){
        animation-delay: 2s;
        color:yellow;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
  
    .j99 span:nth-child(5){
        animation-delay: 2.5s;
        color:white;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .j99 span:nth-child(6){
        animation-delay: 3s;
        color:white;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .j99 span:nth-child(7){
        animation-delay: 3.5s;
        color:white;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    .j99 span:nth-child(8){
        animation-delay: 4s;
        color:white;
        font-family:'Times New Roman', Times, serif;
        font-weight:bold;
    }
    
    .iconbar{
        height:50px;
        width:100%;
        /* background-color:gray; */
       
    }
    .block1{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:white;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
       
    }
    .block2{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:black;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
       
    }
    .block3{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:white;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
      
    }
    .block4{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:gray;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
        
    }
    .block5{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:white;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
      
    }
    .block6{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:white;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
       
    }
    .block7{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:gray;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
      
    }
    .block8{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:green;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
       
    }
    .block9{
        height:50px;
        width:10%;
        /* background-color: red; */
        color:white;
        /* display: flex; */float:left;
        margin-left: 1%;
        font-size:30px;
        text-align: center;
        color:red;
        
    }
   



    ul li{
            display:inline-block;
            position:relative;
           
        }
        ul li a{
            display:block;
            padding:10px 0px;
            color:white;
            text-decoration:none;
           text-align: center;
            font-size:17px;
        }
        
        ul li ul.dropdown{
            min-width:220px;
            padding:5px 0px 0px;
            transform: translate(0px,-18px);
            background:black;
            position: absolute;
            z-index: 999;
            display: none;
            /* border-radius:5px; */
        }
       
        ul li:hover ul.dropdown{
            display: block;
           
        }
       

.u45{
    height:50px;
  
  
   
}
.upper{
    height:50px;
  
 
}
.upper1{
    height:50px;
    width:100px;
    
}

.navbar {
  z-index: 1050;
}


    .swiper {
      width: 100%;
      height: 600px;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 600px;
      /* object-fit: cover; */
    }
@media (max-width: 767.98px) {
  .swiper {
    height: 300px;
  }

  .swiper-slide img {
    height: 300px;
  }
}
.logo{
    height: 500px;
    width:500px;
    margin:auto;
    background-size:100% 100%;
}


